@page {
    size: A5;
}


/* Custom named pages are required to run facing-sections.
You also have to specify them in your facing-sections.js file */

#loomings {
    page: loomings;
    break-before: left; /* otherwise the first page could be on a right page */ 
}

#mirages {
    page: mirages;
    break-before: left; /* otherwise the first page could be on a right page */
}